*{
  font-family:"Oswald";
}
body{
  background-image: url(./ruby_new.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#header{
  text-align: center;
  width: 35%;
  margin: auto;
}
#text{
  margin: auto;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 200px;
  overflow: hidden;
}
h2{
  text-align: center;
}
.border{
  height: 600px;
}
#Sharmila{
  float: left;
  width: 45%;
  padding: 50px;
  padding-top: 150px;
  box-sizing: border-box;
  margin: 15px;
}
#Bri{
  float: right;
  width: 45%;
  padding: 50px;
  padding-top: 150px;
  box-sizing: border-box;
  margin: 15px;
}
.headshot{
  max-width: 25%;
  display: block;
  margin: auto;
}
#footer{
  text-align: center;
  margin-top: 100px;
  display: block;
  position: relative;
}
#footerimage{
  display: block;
  margin: auto;
  max-width: 11%;
}
/*#footer{
  display: block;
  position: relative;
  top: 100px;
}*/
