*{
  font-family: "Arial";
  color: black;
}
#box{
  background-color: #f2f4f7;
  opacity: 0.5;
  width: 600px;
  margin: auto;
  margin-top: 200px;
}
#hometext{
  text-align: center;
  line-height: 5em;
}
#homepage{
  height: 100%;
  width: 100%;
  background-image: url(/Users/learn/Desktop/learn_logo_new.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#hometitle{
  font-size: 40pt;
  font-weight: bold;
}
#homesubtitle{
  font-size: 30pt;
}
button{
  font-size: 20pt;
  padding: 13px;
}
#buttontext{
  text-decoration: none;
  color: black;
}
